<html>
    <head>
        <title>about</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>

        <h1>About Me</h1>
        <h2>... and this website :)</h2>

        <p>I'm a CTF player and interest in cybersecurity and research</p>

        <p>
            This website will post my CTF experience, writeups and cybersecurity
            researches
        </p>
    </body>
</html>
